/* Top navigation bar */
.site-header {
    background-color: #e8dfce; /* Light beige */
}

/* Main content area */
.post-content, .page-content {
    background-color: #f17d62; /* Coral */
    color: #ffffff; /* White text for contrast */
    padding: 20px;
}

/* Footer */
.site-footer {
    background-color: #b3d68c; /* Light green */
    color: #333333; /* Dark text */
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.5em;
    color: #333333;
}

.footer-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-section h3 {
    font-weight: bold;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section p, .footer-section li {
    font-size: 0.9em;
    color: #333333;
}


.social-icons a:hover {
    color: #f17d62; /* Coral color for hover effect */
}
